	<div ng-if="!isAuthenticated()">
		<!-- Main jumbotron for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="container">
				<h1>Quick ID Badges!</h1>
				<p>Create professional ID cards for PVC printing easily.</p>
				<p>
					<a class="btn btn-primary btn-lg" role="button">Learn more
						&raquo;</a>
				</p>
			</div>
		</div> <!-- End jumbotron -->
	
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h2>Ready to go templates</h2>
					<p>You can custom create and personalize photo ID badges and 
					identification cards online. It’s easy to create a single ID 
					badge or to customize multiple photo ID cards at once.</p>
					<p>
						<a class="btn btn-default" href="#" role="button">View details
							&raquo;</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Upload your own design</h2>
					<p>Our ready to go templates don't fit your corporate imge?
					Don't worry you can upload your own design also.</p>
					<p>
						<a class="btn btn-default" href="#" role="button">View details
							&raquo;</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Free plan</h2>
					<p>Our free tier allows you to manage one small organization of
					up to 12 people. You'll get a downloable file with your badges 
					ready to be printed.</p>
					<p>
						<a class="btn btn-default" href="#" role="button">View details
							&raquo;</a>
					</p>
				</div>
			</div>
		</div>
	</div> 